# Supabase configuration
# Provide your Supabase URL and Anon Key here
VITE_SUPABASE_URL=https://jassnvrpsmuwshvrekdv.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_Pc3bqUmAC4THh0iC-065zw_ZUu9GP8I

# Optional: Cloudinary
VITE_CLOUDINARY_CLOUD_NAME=dyunoqfhn
VITE_CLOUDINARY_UPLOAD_PRESET=abs_image
